runtime/*
!runtime/.gitkeep
vendor

web/assets/*
!web/assets/.gitkeep

web/cache/*
!web/cache/.gitkeep

web/images/products/*
!web/images/products/product.jpg
!web/images/products/.gitkeep

web/images/profile/*
!web/images/profile/noimg.jpg
!web/images/profile/.gitkeep

web/.htaccess
web/error.log
web/access.log
web/acess.log
web/index.php
web/index-test.php

error.log
PayPal.log

docs

nbproject

config/console.php

todo.txt

htdocs